* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-input {
  display: none;
}

table {
  border: 1px solid black;
}

.error-msg {
  font-size: 0.8rem;
  color: red;
}

#number-error {
  display: none;
}