* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#container {
    width: 480px;
    height: 480px;
    display: flex;
    border: solid 1px black;

    cursor: crosshair;
}

.grid {
    border: solid 1px black;
}

.blackgrid {
    background-color: black;
}

.resolution-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}